<template>
  <hr>
  <div class="footer row">
    <div class="col-sm-5">
      <h4>About Brand</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-sm-3">
      <h4>Important Links</h4>
      <ul class="footer-links">
        <li><a v-link="{path: '/about'}">About Us</a></li>
        <li><a v-link="{path: '/contact'}">Contact Us</a></li>
        <li><a v-link="{path: 'faq'}">F.A.Q</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4>Newsletter</h4>
      <form class="form" @submit.prevent="signupForNewsletter">
        <div class="form-group">
          <label>Email Address</label>
          <input type="text" v-model="newsletterEmail" class="form-control">
        </div>
      </form>
      <h4>Follow Us</h4>
      <ul class="follow-links">
        <li><a href="#">T</a></li>
        <li><a href="#">F</a></li>
        <li><a href="#">G+</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-lower row">
    <span>&copy; {{year}} {{brand}}. All Rights Reserved.</span>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        newsletterEmail: '',
        brand: 'Name of Brand',
        year: new Date().getFullYear()
      }
    },
    methods: {
      signupForNewsletter () {
        alert('ok')
      }
    }
  }
</script>
<style lang="sass">
.follow-links
  padding: 0
  li
    margin-right: 2em
    display: inline-block
</style>