<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" v-link="{path: '/'}">Brand</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Menu</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a v-link="{path: '/login'}">Login</a></li>
          <li><a v-link="{path: '/signup'}">Signup</a></li>
          <li><a v-link="{path: '/cart'}">My Cart</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
  export default {
    created() {

    }
  }
</script>
<style lang="sass">

</style>