<template>
  <div>
    <a v-link="{path: 'products/' + product.id}" class="thumbnail">
      <img :src="product.image ? product.image.product_url : ''" :alt="product.name + ' Image'">
      <p>{{product.name}}</p>
      <p>{{product.price}}</p>
    </a>
  </div>
</template>
<script>
  export default {
    props: ['product'],
    data () {
      return {

      }
    }
  }
</script>
