<template>
  <div class="page-header">
    <h1>
      <span>My Shopping Cart</span>
      <div class="pull-right">
        <a v-link="{path: '/'}" class="btn btn-default">Continue Buy</a>
        <a v-link="{path: '/checkout'}" class="btn btn-success">Checkout</a>
      </div>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td class="cart-image">
              <div class="thumbnail">
                 <img src="http://placehold.it/400x400?text=product" alt="...">
              </div>
            </td>
            <td>
              <p>Name of product</p>
              <button class="btn btn-link" @click="removeItem(item)">Remove</button>
            </td>
            <td>
              <p>R$100</p>
            </td>
            <td>
              <select @change="updateQty(item)">
                <option>1</option>
              </select>
            </td>
            <td>
              <p>R$1000</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
      <h4>Coupons</h4>
      <form class="form" @submi.prevent="applyCoupon">
        <div class="input-group">
          <input type="text" class="form-control" v-model="coupon" placeholder="Coupon Code...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Apply!</button>
          </span>
        </div>
      </form>
      <hr>
      <h4>Cart Summary</h4>
      <table class="table">
        <tbody>
          <tr>
            <td>Sub Total</td>
            <td class="text-right">R$ 1000</td>
          </tr>
          <tr>
            <td>Discount</td>
            <td class="text-right">R$ 90</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="text-right">R$ 910</td>
          </tr>
        </tbody>
      </table>
      <a v-link="{path: '/checkout'}" class="btn btn-success btn-block">Checkout</a>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        coupon: '',
        items: [
          1, 2, 3
        ]
      }
    },
    methods: {
      removeItem (item) {

      },
      updateQty (item) {

      },
      applyCoupon () {

      }
    }
  }
</script>
<style lang="sass">
  .cart-image
    width: 130px
</style>