<template>
  <div class="page-header">
    <h1>tax name</h1>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4>Filters</h4>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-xs-6 col-md-3" v-for="product in products">
            <product :product="product"></product>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import product from './partials/product'

  import { slider, carousel } from 'vue-strap'
  export default {
    data () {
      return {
        products: [],
      }
    },
    route: {
      data: function (transition) {
        //http://localhost:8080/category/home
        var taxonomy = this.$route.params.tax
        // get products
        var query = new YeboSDK.Products();
        query.and(YeboSDK.Products.Rules.taxonomy([taxonomy]))
        var self = this
        query.execute().then(function(res) {
          transition.next({
            products: res.products
          })
        });
      }
    },
    components: {
      product: product
    }
  }
</script>