<template>
  <form class="row" @submit.prevent="placeOrder">
    <div class="col-sm-6">
        <legend>Personal Information</legend>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>First Name</label>
            <input type="text" v-model="firstname" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label>Last Name</label>
            <input type="text" v-model="lastname" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Phone Number</label>
            <input type="text" v-model="city" class="form-control">
          </div>
        </div>
        <legend>Shipping Information</legend>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>Address Line 1</label>
            <input type="text" v-model="address1" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label>Address Line 2</label>
            <input type="text" v-model="address2" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>City</label>
            <input type="text" v-model="city" class="form-control">
          </div>
          <div class="form-group col-sm-6">
            <label>Pincode</label>
            <input type="text" v-model="pincode" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label>State</label>
            <select v-model="selected_state" class="form-control">
              <option selected>select</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label>country</label>
            <select v-model="selected_country" class="form-control">
              <option selected>select</option>
            </select>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="ccjs-card">
        <label class="ccjs-number">
          Card Number
          <input name="card-number" class="ccjs-number" placeholder="•••• •••• •••• ••••">
        </label>

        <label class="ccjs-csc">
          Security Code
          <input name="csc" class="ccjs-csc" placeholder="•••">
        </label>

        <button type="button" class="ccjs-csc-help">?</button>

        <label class="ccjs-name">
          Name on Card
          <input name="name" class="ccjs-name">
        </label>

        <fieldset class="ccjs-expiration">
          <legend>Expiration</legend>
          <select name="month" class="ccjs-month">
            <option selected disabled>MM</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>

          <select name="year" class="ccjs-year">
            <option selected disabled>YY</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
          </select>
        </fieldset>

        <select name="card-type" class="ccjs-hidden-card-type">
          <option value="amex" class="ccjs-amex">American Express</option>
          <option value="discover" class="ccjs-discover">Discover</option>
          <option value="mastercard" class="ccjs-mastercard">MasterCard</option>
          <option value="visa" class="ccjs-visa">Visa</option>
          <option value="diners-club" class="ccjs-diners-club">Diners Club</option>
          <option value="jcb" class="ccjs-jcb">JCB</option>
          <!--<option value="laser" class="laser">Laser</option>-->
          <!--<option value="maestro" class="maestro">Maestro</option>-->
          <!--<option value="unionpay" class="unionpay">UnionPay</option>-->
          <!--<option value="visa-electron" class="visa-electron">Visa Electron</option>-->
          <!--<option value="dankort" class="dankort">Dankort</option>-->
        </select>
      </div>
    </div>
  </form>
</template>
<script>
  export default {
    ready () {
      creditcardjs.onValidityChange(function(isValid) {
        if (isValid) {
          /* allow form submission */
        } else {
          /* prevent form submission */
        }
      });
    },
    data () {
      return {
        selected_state: '',
        selected_country: ''
      }
    },
    route: {
      data: function (transition) {
        transition.next({})
      }
    },
    methods: {
      placeOrder () {
        // place order
      }
    }
  }
</script>