<template>
  <div class="content">
    <carousel>
      <slider>
        <img src="http://placehold.it/1200x400?text=one">
      </slider>
      <slider>
        <img src="http://placehold.it/1200x400?text=two">
      </slider>
      <slider>
        <img src="http://placehold.it/1200x400?text=three">
      </slider>
    </carousel>
    <div class="page-header">
      <h1>Most Sales</h1>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3" v-for="product in varTopSellers">
          <product :product="product"></product>
      </div>
    </div>

    <div class="page-header">
      <h1>All</h1>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3" v-for="product in varAllProducts">
          <product :product="product"></product>
      </div>
    </div>
  </div>
</template>
<script>
  import _ from 'lodash'
  import product from './partials/product'
  import { slider, carousel } from 'vue-strap'
  //import config from 'config'

  // Comments
  export default {
    data () {
      return {
        varAllProducts: [],
        varTopSellers: []
      }
    },
    route: {
      data: function (transition) {
        // get home products
        var home = query
        home.execute().then(function(res) {
          // get products
          var varAllProducts = _.filter(res.products, function(item) {
            // get one image
            item.image = null
            if(typeof item.image_ids[0] != undefined) {
              item.image = _.find(res.images, ['id', item.image_ids[0]])
            }
            return item
          })

          // get sales product
          var varTopSellers = []
          var sales = query
          sales.and(YeboSDK.Products.Rules.taxonomy(['mais-vendidos']))
          sales.execute().then(function(res) {
            varTopSellers = _.filter(res.products, function(item) {
              // get one image
              item.image = null
              if(typeof item.image_ids[0] != undefined) {
                item.image = _.find(res.images, ['id', item.image_ids[0]])
              }
              return item
            })
          });
          // there should be only one transition.next per route tempate
          // they have to be execute inside
          transition.next({
            varAllProducts: varAllProducts,
            varTopSellers: varTopSellers
          })
        });
      }
    },
    components: {
      slider: slider,
      carousel: carousel,
      product: product
    }
  }
</script>
