<template>
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <img :src="images[0].large_url" :alt="product.name + ' Image'">
      </div>
    </div>
    <div class="col-sm-6">
      <h1>{{product.name}}</h1>
      <p>{{product.price}}</p>
      <hr>
      <h4>Description</h4>
      <p>{{product.description}}</p>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        product: {},
        images: {}
      }
    },
    route: {
      data (transition) {
        var id = this.$route.params.id
        YeboSDK.Store.fetch('products/' + id).then(function(res) {
          transition.next({
            product: res.product,
            images: res.images
          })
        });
      }
    }
  }
</script>