<template>
  <div class="container">
    <navbar></navbar>
    <router-view></router-view>
    <footer-view></footer-view>
  </div>
</template>
<script>
  import navbar from './components/layouts/navbar'
  import footer from './components/layouts/footer'
  export default {
    components: {
      navbar: navbar,
      'footer-view': footer
    }
  }
</script>
