<template>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form @submit.prevent="login" class="form">
        <legend>LOGIN</legend>
        <div class="form-group">
          <label>Email Address</label>
          <input type="text" v-model="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" v-model="password" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="LOGIN" class="btn btn-primary">
        </div>
      </form>
      <hr>
      <p>Forgot your password? <a v-link="{path: '/reset'}">Reset Password</a></p>
      <p>Don't have an account? <a v-link="{path: '/signup'}">Sign Up</a></p>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        email: '',
        password: ''
      }
    },
    route: {
      data: function (transition) {
        transition.next({})
      }
    },
    methods: {
      login () {
        YeboSDK.Users.login(this.email, this.password).then(function(res) {
          // ...
        });
      }
    }
  }
</script>