<template>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form @submit.prevent="reset" class="form">
        <legend>RESET PASSWORD</legend>
        <div class="form-group">
          <label>Email Address</label>
          <input type="text" v-model="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="LOGIN" class="btn btn-primary">
        </div>
      </form>
      <hr>
      <p>Don't have an account? <a v-link="{path: '/signup'}">Sign Up</a></p>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        email: ''
      }
    },
    route: {
      data: function (transition) {
        transition.next({})
      }
    },
    methods: {
      reset () {
        var options = {
          email: this.email,
          store_url: 'http://...'
        };

        // ...
        YeboSDK.Store.fetch('users/reset', options, 'POST').then(function() {
          // ...
        });

      }
    }
  }
</script>