<template>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <form @submit.prevent="register" class="form">
        <legend>SIGN UP</legend>
        <div class="form-group">
          <label>Email Address</label>
          <input type="text" v-model="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" v-model="password" class="form-control">
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" v-model="password_confirmation" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="LOGIN" class="btn btn-primary">
        </div>
      </form>
      <p>Already have an account? <a v-link="{path: '/login'}">Login</a></p>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        email: '',
        password: '',
        password_confirmation: ''
      }
    },
    route: {
      data: function (transition) {
        transition.next({})
      }
    },
    methods: {
      register () {
        YeboSDK.Users.register(this.email, this.password, this.password_confirmation).then(function(res) {
          // ...
        });
      }
    }
  }
</script>